---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Slideshow from "../components/Slideshow";
---

<Layout title="Bun+Astro | wireframe">
  <main class="flex flex-col">
    <Hero />

    <section>
      <h2 class="py-3 text-4xl text-gradient ![background-size:30%]">
        Wireframe
      </h2>
      <p class="p-2 mb-3">
        The goal was to create a simple but visually appealing design in
        accordance to a chosen design system. A highly contrasting color palette
        were chosen to fit to the content and project. The initial concept and
        design can be seen in the slideshow below.
      </p>
      <Slideshow client:load />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: calc(70% - 2rem);
    min-height: calc(100vh - 4rem);
    line-height: 1.6;
  }
</style>
