---
import Footer from "../components/Footer";
import Navigation from "../components/Navigation";
import { ViewTransitions } from "astro:transitions";
import ScrollBar from "../components/ScrollBar";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation client:load />
    <slot />
    <Footer client:load />
    <ScrollBar client:load />

    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap");
      :root {
        --accent: 249, 188, 46;
        --accent-light: 215, 210, 203;
        --accent-dark: 232, 119, 34;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        --title-font: "Pacifico", cursive;
      }
      html {
        font-family: "Roboto", sans-serif;
        background: #13151a;
        background-size: 224px;
        color: white;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .fancy-font {
        font-family: var(--title-font);
      }
      .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        background-size: 400%;
        background-position: 0%;
      }
    </style>
  </body>
</html>
